<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853937473855-cncmd91314cfejt6h5hlr3ri70ttff94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853937473855-cncmd91314cfejt6h5hlr3ri70ttff94</string>
	<key>API_KEY</key>
	<string>AIzaSyD2yJL6deH1kw_bKxi7ENrDt3SF_1vr0Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>853937473855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttermyshopApp</string>
	<key>PROJECT_ID</key>
	<string>myshop-app-824ac</string>
	<key>STORAGE_BUCKET</key>
	<string>myshop-app-824ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853937473855:ios:1d51f394d0f5e8d355ab8a</string>
</dict>
</plist>